.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.sliderWrapper {
  display: flex;
  transition: transform 700ms ease-in-out;
}

.slide {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e9f2;
  padding: 2rem 1.25rem;
  margin-top: 1.5rem;
  border-radius: 0.75rem;
  min-width: 100%;
}

.textContent {
  padding-left: 0;
  margin-top: 2.5rem;
}

.offer {
  font-size: 1rem;
  color: #1877f2;
  padding-bottom: 0.25rem;
}

.title {
  max-width: 32rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.buttonGroup {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.primaryButton {
  padding: 0.5rem 1.75rem;
  background-color: #1877f2;
  border-radius: 9999px;
  color: white;
  font-weight: 500;
  border: 2px solid #1877f2;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: background-color 200ms, border-color 200ms;
}

.primaryButton:focus,
.primaryButton:active {
  outline: none;
  box-shadow: none;
}

.primaryButton:hover {
  background-color: #0c63d4;
  border-color: #0c63d4;
}

.secondaryButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 1.5rem;
  font-weight: 500;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 200ms;
}

.secondaryButton:hover {
  color: #1877f2;
}

.arrowIcon {
  transition: transform 200ms;
}

.secondaryButton:hover .arrowIcon {
  transform: translateX(0.25rem);
}

.imageContainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.productImage {
  width: 12rem;
  max-width: 100%;
  height: auto;
}

.dotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 200ms;
}

.dotInactive {
  background-color: rgba(107, 114, 128, 0.3);
}

.dotActive {
  background-color: #1877f2;
}

@media (min-width: 768px) {
  .slide {
    flex-direction: row;
    padding: 2rem 3.5rem;
  }

  .textContent {
    padding-left: 2rem;
    margin-top: 0;
  }

  .offer {
    font-size: 1rem;
  }

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .buttonGroup {
    margin-top: 1.5rem;
  }

  .primaryButton {
    padding: 0.625rem 2.5rem;
  }

  .productImage {
    width: 18rem;
  }
}
