.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}

.subtitle {
  font-size: 0.95rem;
  color: rgba(107, 114, 128, 0.8);
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 1rem;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 42rem;
  width: 100%;
  height: 3rem;
}

@media (min-width: 768px) {
  .form {
    height: 3.5rem;
  }
}

.input {
  height: 100%;
  width: 100%;
  padding: 0 0.75rem;
  font-size: 0.95rem;
  color: #6b7280;
  border: 1px solid rgba(107, 114, 128, 0.3);
  border-right: none;
  border-radius: 0.375rem 0 0 0.375rem;
  outline: none;
}

.input::placeholder {
  color: rgba(107, 114, 128, 0.6);
}

.button {
  height: 100%;
  padding: 0 2rem;
  background-color: #1877f2;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 0 0.375rem 0.375rem 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button {
    padding: 0 3rem;
  }
}
